*
{
margin:0;
padding:0;
}
html{
	scroll-behavior: smooth;
}
body
{
	font-family:sans-serif;
	text-decoration: none;
	outline-style: none;
}

#nav-bar
{
	position: sticky;
	top:0;
	z-index:10;
}
.navbar
{
	background-color:white;
	padding:0 !important;
}
.navbar-brand img
{
	height: 60px;
	padding-left:30px;
}
.navbar-nav li
{
	padding:0 10px;
}
.navbar-nav li a
{
	color: black !important;
	float: right;
	text-align: left;
}

.navbar-nav li a:hover
{
	color: #a517ba !important;
	float: right;
	text-align: left;
}

.fa-bars
{
	color:black;
	font-size:30px !important;
}
.navbar-toggler
{
	outline: none !important;
}
#banner
{
	background-image:linear-gradient(to right, #a517ba, #5f1762);
	color:#fff;
	padding-top:5%;
}

.promo-title
{
	font-size:40px;
	font-weight:600;
	margin-top:100px;
}
/*-----------------------------------------------------------------------CONTEÚDO--------------------------------------------------------------*/
#meus-dados{
    text-align: center;
}
.titulo{
    width: 100%;
    height: 15%;
    padding-top: 3%;
    text-align: center;
    font-size: 1.8em;
}
.tabela-informacoes{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
}


.estrutura-tabela{
    width: 100%;
}
.estrutura-tabela tr td{
    padding-top: 15px;
    padding-left: 2%;

}
.estrutura-tabela tr td a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.estrutura-tabela tr td a:hover{
    text-decoration: none;
    color: #a300db;
    font-weight: 600;
}

.estrutura-tabela2{
	width: 50%;
	margin-left: 30%;
}
.estrutura-tabela2 tr td{
    padding-top: 15px;
    padding-left: 2%;

}
.estrutura-tabela2 tr td a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.estrutura-tabela2 tr td a:hover{
    text-decoration: none;
    color: #a300db;
    font-weight: 600;
}
 .colunas-tabela{
     color: #000;
     font-size: 1em;
 }
 .btn{
    width: 100%;
    margin-top: 3%;
}
.btn a{
    border-radius: 10px;
    color: #a517ba;
    text-decoration: none;
    border: 1px #a517ba solid;
    padding: 1%;
}

.btn a:hover{
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    border: 1px #a517ba solid;
    padding: 1%;
    background-color: #a517ba;
}

/*-------------------------------------------------- RODAPÉ -------------------------------*/

.img-rodape{
	width: 100%;
	height: 10%;
}

.img-rodape img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#container-rodape
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#card-rodape{
	width: 450px;
	margin: 0 20px;
	border: 0px;
}
#card-rodape .top-text{
	padding: 5px;
	text-align: center;
}
#card-rodape .top-text .name{
	font-size: 25px;
	font-family: century gothic;
	font-weight: 600;

}
#card-rodape .lista-rodape ul{
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	list-style: none;
}
.redes-sociais{
	display: flex;
}
.redes-sociais a{
	text-decoration: none;
}
.redes-sociais img{
	height: 100%;
	width: 22%;
	margin-left: 6%;
	margin-top: 20%;
}
.direitos{
	padding: 1.5%;
	height: 10%;
	width: 100%;
	background-color: #3a3a3a;
	text-align: center;
}
.direitos p{
	color: rgb(99, 99, 99);
	font-size: 25px;
	font-weight: 500;
}
